@import "tailwindcss";

@theme {
  --color-background: #fafafa;
  --color-surface: #ffffff;
  --color-border: #e5e5e5;

  --color-text-primary: #171717;
  --color-text-secondary: #737373;

  --color-accent: #0ea5e9;
  --color-accent-hover: #0284c7;

  --font-sora: "Sora", sans-serif;
  --font-sans: "Inter", sans-serif;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
